/* Estilo geral para a tela */
#loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.8em; /* Tamanho da fonte ajustado para mobile */
    text-align: center;
}

#nameOutput {
    border-right: 0.1em solid white; /* Efeito de cursor piscando */
    padding-right: 0.1em;
    animation: blink 0.7s step-end infinite, colorChange 2s linear infinite; /* Animação para o cursor e para a cor */
}

/* Animação do cursor piscando */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Animação de troca de cores */
@keyframes colorChange {
    0% {
        color: #007bff; /* Azul Elétrico */
    }
    25% {
        color: #00ccff; /* Ciano */
    }
    50% {
        color: #2e2e2e; /* Cinza Escuro */
    }
    75% {
        color: #00ff99; /* Verde Menta */
    }
    100% {
        color: #ffffff; /* Branco */
    }
}

/* Responsividade para diferentes dispositivos */

/* Mobile first (até 780px) */
@media (max-width: 780px) {
    #loadingContainer {
        font-size: 1.5em; /* Menor tamanho de fonte para dispositivos móveis */
    }
}

/* Tablets (mínimo 780px) */
@media (min-width: 780px) {
    #loadingContainer {
        font-size: 2em; /* Tamanho médio para tablets */
    }
}

/* Desktop (mínimo 990px) */
@media (min-width: 990px) {
    #loadingContainer {
        font-size: 2.5em; /* Tamanho maior para desktop */
    }
}

/* Grandes telas (máximo 1980px) */
@media (max-width: 1980px) {
    #loadingContainer {
        font-size: 3em; /* Tamanho de fonte ainda maior para telas grandes */
    }
}

/* Esconder o conteúdo principal até o carregamento */
#mainContent {
    display: none; /* O conteúdo principal começa escondido */
}
